<% @order.order_items.each do |item| %>
  <p>Beer: <%= item.product.title %></p>
  <p>Count: <%= item.quantity %></p>
  <p>Type: <%= item.product.category %></p>
  <p>Type: <%= item.product.abv %></p>
<% end %>