/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*/

@import 'bootstrap';
@import 'variables.scss';
@import 'products.scss';
@import 'charges.scss';
@import 'orders.scss';
@import 'vendors.scss';
@import 'order_items.scss';


@import url('https://fonts.googleapis.com/css?family=Quantico');

* {
  font-family: 'Quantico', sans-serif;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}
// NAVBAR

.dropdown-toggle:after { content: none }

body {
  padding: 0 !important;
}

#big-icon {
  font-size: 2rem;
  color: black;
}

#force-align {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  * {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
* {
  font-family: 'Quantico', sans-serif;
}

#force-width {
  //  border: 1px solid red;
  width: 33% !important;
}

.navbar {
  align-content: center !important;
  height: 4.5rem !important;
}

.navbar-nav {
  display: flex;
  align-content: center;
}

.navbar-nav > ul {
  height: 4.5rem !important;
}

#remove-bottom-margin {
  margin-bottom: 0;
}

.navbar-nav > li {
  display: flex;
  height: 4.5rem !important;
  justify-content: center !important;
  align-content: center !important;
  width: 100%;
}

#big-icon {
  font-size: 2rem;
  color: black;
}

#force-align {
  //  border: 1px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  * {
    // border: 1px solid purple;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#force-width {
  width: 30% !important;
}

//  SIGN UP PAGE

.form-outer-container {
  height: calc(100% - 4.5rem);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.sign-up-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 525px;
  border: 2px black solid;
}

.sign-up-header {
  background: $brightorange;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.sign-up-form-box {
  height: 35px;
  width: 100%;
  background: $limegreen;
  color: rgba(0, 0, 0, 0.527);
  font-family: 'Prata', serif;
  font-size: 1.6vh;
  padding-left: 5px;
  border: 2px $turtlegreen solid;
}

label {
  margin-bottom: 0px;
}

#first-field {
  padding-top: 5px;
}

.field {
  width: 300px;
  margin-bottom: 0.5rem;
}

.form-submit {
  width:  100%;
}

.form-submit {
  background: $turtlegreen;
  border: solid $turtlegreen 1px;  
  font-size: 2vh;
  height: 45px;
}

.brewer-additional-fields {
  display: none;
}

input[type="check_box"]:checked ~ .brewer-additional-fields{
  // display: block;
}
