/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*/

@import 'bootstrap';
@import 'variables.scss';
@import 'products.scss';
@import 'charges.scss';
@import 'vendors.scss';
@import 'order_items.scss';
@import './orders.scss';



@import url('https://fonts.googleapis.com/css?family=Quantico');

.price-bold {
  font-size: 3vh;
}

.btn-custom-green {
  background: $turtlegreen;
  color: white;
}

body {
  // background-image: url('https://images.unsplash.com/photo-1545878587-bd777063c414?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80');
  // background-size: cover;
  // background-position: center;
  // background-attachment: fixed, scroll;
}

.product-index {
  flex-direction: row;
}

.buy-buttons {
  flex-direction: row;
}

#shopping-item-image {
  height: 80px;
  width: 80px;
  object-fit: scale-down;
}

.customer-details-box h3 {
  color: #449944;
}

.shopping-cart {
  margin-top: 0;
  overflow: scroll;
  overflow-x: hidden;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 1rem;
  background-color: $dirtyorange;
}

.totals {
  grid-column: 2 / 3;
  grid-row: 3 / 4; 
  padding: 1rem;
  background-color: $dirtyorange;
}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: scale-down;
  background: none !important;
}

* {
  font-family: 'Quantico', sans-serif;
}

.profile-table-left {
  input {
    width: 100%;
  }
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}
// NAVBAR

.dropdown-toggle:after { content: none }

body {
  padding: 0 !important;
}

#big-icon {
  font-size: 2rem;
  color: black;
}

#force-align {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  * {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
* {
  font-family: 'Quantico', sans-serif;
}

#force-width {
  //  border: 1px solid red;
  width: 33% !important;
}

.sales-col {
  padding: 10px;
}

.navbar {
  align-content: center !important;
  height: 4.5rem !important;
}

.navbar-nav {
  display: flex;
  align-content: center;
}

.navbar-nav > ul {
  height: 4.5rem !important;
}

#remove-bottom-margin {
  margin-bottom: 0 !important;
}

.navbar-nav > li {
  display: flex;
  height: 4.5rem !important;
  justify-content: center !important;
  align-content: center !important;
  width: 100%;
}

#big-icon {
  font-size: 2rem;
  color: black;
}

#force-align {
  //  border: 1px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  * {
    // border: 1px solid purple;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#force-width {
  width: 30% !important;
}

//  SIGN UP PAGE

.form-outer-container {
  height: calc(100% - 4.5rem);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;  
}

.sign-up-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 525px;
  border: 2px black solid;
  background: white;
  margin-bottom: 10px;
}

.sign-up-header {
  background: $brightorange;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 15px;
}

.sign-up-form-box {
  height: 35px;
  width: 100%;
  background: $limegreen;
  color: rgba(0, 0, 0, 0.527);
  font-family: 'Quantico', sans-serif !important;
  font-size: 1.6vh;
  padding-left: 5px;
  border: 2px $turtlegreen solid;
}

.sign-up-bottom-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#description-box {
  height: 200px;
}

::placeholder {
  color: rgba(0, 0, 0, 0.527) !important;
  word-wrap: break-word;
  
}

label {
  margin-bottom: 0px;
}

#first-field {
  padding-top: 10px;
}

.field {
  width: 300px;
  margin-bottom: 0.5rem;
}

.form-submit {
  width:  100%;
  background: $turtlegreen;
  border: solid $turtlegreen 1px;  
  font-size: 2vh;
  height: 45px;
  color: white;
  margin-bottom: 10px;
}

.form-cancel {
  width:  100% !important;
  background: red;
  border: red; 
  font-size: 2vh;
  height: 45px;
  color: white;
}

.additional-fields {
  display: none;
}


// Log In Page

.login-outer-container {
  height: calc(100vh - 4.5rem);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px; 
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 525px;
  border: 1px solid black;
}

.login-header {
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-top: 20px;
  width: 100%;
  background-color: $brightorange;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}






// Error Messages Box

#error_explanation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 60%;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  
  .product-index {
    flex-direction: column;
  }
  .buy-buttons {
    border: 1px solid red;
    flex-direction: column;
    margin-bottom: 20px !important;
  }
  
}

