/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import 'variables.scss';
 @import 'products.scss';
 @import 'charges.scss';
 @import 'order_items.scss';
 @import 'orders.scss';
 @import 'vendors.scss';

 @import url('https://fonts.googleapis.com/css?family=Quantico');

 #big-icon {
   font-size: 2rem;
   color: black;
 }

 * {
  font-family: 'Quantico', sans-serif;
 }

 #force-width {
   width: 30% !important;
 }

 .navbar {
   align-content: center !important;
   height: 4.5rem !important;
 }

 .navbar-nav {
   display: flex;
   align-content: center;
 }

 .navbar-nav > ul {
   height: 4.5rem !important;
 }

 #remove-bottom-margin {
   margin-bottom: 0;
 }

 .navbar-nav > li {
  display: flex;
  height: 4.5rem !important;
  justify-content: center !important;
  align-content: center !important;
  width: 100%;
}
