// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-product-form {
  margin-top: 20px;
}

.products-new-container {
  background-color: white;
  border: 2px solid black;
}

.new-product-header {
  background: $brightorange;
  text-align: center !important;
  padding: 10px;
  width: 100%;
}

.products-new-detail {
  padding: 20px;
}

.form-group {
  width: 21.5rem;
}

.submit {
  width: 100%;
}

#border-bottom {
  padding-bottom: 5px;
  border-bottom: 1px solid $turtlegreen;
}

.edit-product-outer-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  background: white;
  border: 2px solid black;
}

.edit-beer-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-field {
  width: 80%;
}
