
<div class="d-flex flex-column-center justify-content-center new-product-form">

<form action="<%= products_path %>" method="POST" enctype="multipart/form-data">
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />

    <% if @product.errors.any? %>
    <div id="error_explanation">
        <h2>
        <%= pluralize(@restaurant.errors.count, "error") %> prohibited
        this product from being saved:
        </h2>
        <ul>
        <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
    <% end %>

  <div class="products-new-container">
    <div class="new-product-header">
      <h1>Products</h1>
      <h2>Add New Product</h2>
    </div>

    <div class="products-new-detail">
      <div class="form-group">
        <label for="title">Beer Name</label>
        <input type="text" class="form-control" id="title" placeholder="Enter Beer Name" name="title" required>
      </div>
      
      <div class="form-group">
        <label for="description">Description</label>
        <input type="textarea" class="form-control" id="description" placeholder="Enter Description" name="description" required>
      </div>
      
      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" placeholder="Enter Category"  name="category" required>
      </div>

      <div class="form-group">
        <label for="abv">ABV</label>
        <input type="number" step="0.01" class="form-control" id="abv" placeholder="Enter ABV" name="abv" required>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" step="0.01" class="form-control" id="price" placeholder="Enter Price" name="price" required>
      </div>

      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" id="quantity" placeholder="Enter Quantity" name="quantity" required>
      </div>

      <div class="form-group">
        <label>Beer image upload</label>
        <input type="file" name="image_url" accept="image/png, image/jepg" required>
      </div>

      <input id="submit" type="submit" value="Upload & Submit" class="submit">
    </div>
</form>

</div>
</div>